{% extends 'base.html.twig' %}

{% block base %}

{{ parent()}}

<h1>Add User</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add User</button>
    {{ form_end(form) }}
{% endblock %}


